
#map {
	position: relative;
	padding: 0;
	margin: 0;
	width: 100% !important;
	height: 20rem !important;
}
.mapboxgl-canvas {
	width: 100% !important;
	height: 20rem !important;
}
@media (max-width: 778px) {
	#map {
		width: 100% !important;
		height: 15rem !important;
	}
	.mapboxgl-canvas {
		width: 100% !important;
		height: 15rem !important;
	}
}
@media screen and (max-width: 400px) {
	#map {
		width: 100% !important;
		height: 6.25rem;
	}
	.mapboxgl-canvas {
		width: 100% !important;
		height: 6.25rem;
	}
}
@media screen and (max-width: 320px) {
	#map {
		width: 100% !important;
		height: 2.25rem !important;
	}
	.mapboxgl-canvas {
		width: 100% !important;
		height: 2.25rem !important;
	}
}
